*{
  margin: 0;
}
body {
  background-color: #1F2937;
}

p {
  font-family: Inter;
}

.gradient {
  background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
  font-size: 22px;
  text-align: center;
  justify-content: center;
  color: white;
  font-weight: 800;
  padding-top: 30px;
  padding-bottom: 5px;
  overflow: auto;
}

.input {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 97px;
  width: 160px;
  text-align: center;
  padding-right: 0;
  margin-right: 0;
  padding-left: 35px;
}

.results {
  
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  text-align: center;
}

.title {
  color: white;
  font-weight: 600;
}

.body {
  color: #D2D2D2;
  padding-bottom: 20px;
  font-weight: 400;
}